body{
  background-color: #292c2f;
  display: flex;
  justify-content: center;
  align-items: center;
}


.box{
  margin-top: 10%;
}

.inputs{
  padding: 5ch;
  border-radius: 15px;
  background-color: #bcc4cd;
}